#![enable(implicit_some)]
(
    texture_width: 1024,
    texture_height: 2048,
    sprites: [
        (
            x: 4,
            y: 4,
            width: 256,
            height: 512,
            offsets: (0, -192),
        ),
        (
            x: 268,
            y: 4,
            width: 256,
            height: 512,
            offsets: (0, -192),
        ),
        (
            x: 4,
            y: 524,
            width: 256,
            height: 512,
            offsets: (0, -192),
        ),
        (
            x: 268,
            y: 524,
            width: 256,
            height: 512,
            offsets: (0, -192),
        ),
    ],
)